.red{
  background-color: red;
  color: white;
  height: 100px;
  width: 100px;
}
.changecolor{
  height: 1000px;
  width: 1000px;
  
}
button{
  display: flex;
  justify-content: center;
  justify-self: center;
}
h2{
  background-color: aqua;
  color: black;
  font-size: 30px;
  font-weight: bold;
height: 500px;
width: 500px;
}