.cards{
  border: 2px solid black;
  max-width: 22vw;
 
  
}
.conatainer{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
 
}
*{
  margin: 0;
  padding: 0;
}
 nav, ul{
  display: flex;
  gap: 15px;
  padding: 12px 3px;
  background-color: #f5f;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
 }
 li{
  list-style: none;
 }
 span{
  margin-right:10vh;
 }
 nav ,ul,span,li{
  margin-right: 12px;
 }