* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(255, 251, 251);
}

section {
  border: 2px solid rgb(0, 0, 0);
  height: 200px;
  width: 100%;
}

h1 {
  justify-self: self-start;
  margin-left: 33px;
  margin-top: 13px;
  font-size: 24px;
  font-weight: bold;
  font-style: oblique;

}
button{
  gap: 20px;
}
.className{
  display: grid;
  gap: 20px;
  /* padding: 30px 30px; */
  height: 30vh;
  width: 200vh;
}
button{
  width: max-content;
  height: max-content;
  display: flex;
}